# Dependencies
node_modules/
venv/
__pycache__/

# Build
dist/
build/
*.pyc

# Environment
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.7z
*.tar.xz
*.zip
store2.zip
store.7z
store.tar.xz
